.banner{
    font-family: "Open Sans", sans-serif;
    height: 95rem;
    padding: 0 2rem;
    position: relative; /* para posicionar a seta */ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textBox{ /* foi usado essa div para que os elementos tenham a posição definida enquanto ocorre a animação, sem que os elementos abaixo tenham suas pocições alteradas no processo*/
    min-height: 21rem;
    text-align: center;
}

.bannerTitle{
    font-size: 10rem;
}

.bannerSubtitle{
    font-size: 5rem;
}

.bannerSubtitle.hidden{ /*usado no javascript*/
    opacity: 0;
}

.bannerSubtitle span{
    color: #e04958;
}

.bannerContact{
    font-size: 1.7rem;
    margin-top: 2rem;
}

.banner .arrow{
    position: absolute;
    bottom: 5rem;
    animation: pulse 1s infinite;
}

.banner .arrow img{
    width: 7rem;
    transition: 0.2s ease-in-out;
}

.banner .arrow img:hover{
    transform: scale(1.3);
}

@keyframes pulse { /*animação para a seta*/
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 992px) {
    .bannerTitle{
        font-size: 7.5rem;
    }
    
    .bannerSubtitle{
        font-size: 3rem;
    }

    .bannerContact{
        font-size: 1.5rem;
    }
}

@media(max-width: 768px){
    .bannerTitle{
        font-size: 5.7rem;
    }
    
    .bannerSubtitle{
        font-size: 3rem;
    }

    .banner .arrow img{
        width: 5.5rem;
        transition: 0.2s ease-in-out;
    }
}

@media(max-width: 576px){
    .bannerTitle{
        font-size: 4.5rem;
    }
    
    .bannerSubtitle{
        font-size: 2.5rem;
    }

    .textBox{ 
        min-height: 17rem;
    }
}

@media(max-width: 480px){
    .banner{
        height: 73rem;
    }

    .bannerTitle{
        font-size: 3rem;
    }
    
    .bannerSubtitle{
        font-size: 2rem;
    }
    
    .textBox{
        min-height: 12rem;
    }
    
    .bannerContact{
        font-size: 1.3rem;
    }
}

@media (max-width: 390px){
    .bannerContact{
        font-size: 1.2rem;
    }
}

@media (max-width: 375px){
    .bannerContact{
        font-size: 1.1rem;
    }
}

@media (max-width: 360px){
    .bannerContact{
        font-size: 1.1rem;
        text-align: center;
    }
}