.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 82rem;
    padding: 0 3rem;
}

.contactMessage{
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.social {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.socialSingle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.socialSingle .icon{
    width: 1.7em;
    height: 5rem;
    border: 0.2rem solid black;
    font-size: 3rem;
    color: black;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialSingle .icon:hover{
    transition: 0.3s ease-out;
    background-color: #e04958;
}

.socialSingle:last-child .icon:hover { /*para remover o hover do icon do e-mail*/
    background-color: white;
    transition: none; 
}

.contactOption{
    font-family: "Noto Sans", sans-serif;
    font-size: 2rem;
}

.contactDescription{
    font-family: "Noto Sans", sans-serif;
    font-size: 1.6rem;
}

/*linha vertical*/
.line { 
    width: 0.3rem;
    background-color: #e04958;
    height: 15rem;
}

@media (max-width: 992px) {
    .social {
        gap: 3rem;
    }

    .contactMessage{
        font-size: 1.8rem;
    }

    .contactOption{
        font-size: 1.7rem;
    }
    
    .contactDescription{
        font-size: 1.5rem;
    }
    
    .line {
        display: none;
    }
}

@media(max-width: 768px){
    .social {
        gap: 2rem;
        flex-wrap: wrap;
    }

    .socialSingle{
        width: 30%;
    }

    .contact{
        padding: 0 2rem;
    }
    
    .contactMessage{
        font-size: 1.6rem;
        text-align: center;
    }
    
    .contactOption{
        font-size: 1.6rem;
    }
    
    .contactDescription{
        font-size: 1.4rem;
    }
}

@media(max-width: 480px){
    .contact{
        margin-top: 8rem;
    }
    
    .socialSingle{
        width: 55%;
    }
}