html,body{
    height: 100%;  
    scroll-behavior: smooth; /*faz a rolagem da página ser mais suave*/
    overflow-x: hidden;
}

body{
    background: linear-gradient(178deg, #191c29,#0e1015);
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*classe para adicionar estilo a todos os titulos das sections (main e sections)*/
.sectionTitle{ 
    font-family: "Raleway", sans-serif;
    font-size: 4.5rem;
    margin-bottom: 2.5em;
    text-align: center;
}

/*para adicionar a transição aos conteudos da pagina*/
.scrollAnimate, .scrollAnimateProjects{
    opacity: 0;
    transform: translateX(20%);
    transition: opacity 0.8s ease-in, transform 1.5s ease;
}

.scrollAnimate.visible, .scrollAnimateProjects.visible {
    opacity: 1;
    transform: translateX(0);
}

/*----------------------lighMode e DarkMode----------------------*/
/*classe que são adicionadas com javascript*/
body.bodyLightMode{
    background: linear-gradient(178deg, #ffffff, #cccccc);
    color: black;
}

.header .navMenu .darkModeBtn.lightMode{
    justify-content: end;
    background-color: black;
}

.header .navMenu .darkModeBtn .dark.light{
    background-color: white;
}

.iconLink i.ColorLightMode{
    color: black;
}

.footer.footerLightMode{
    background-color: #191c29;
}

.footer .arrowUp.arrowLightMode{
    background-color: white;
}

.modal.modalLightMode{
    background: linear-gradient(178deg, #ffffff, #cccccc);
}
/*-----------------------------------------------------------------------*/


/*estilizando a scrollbar*/
::-webkit-scrollbar-thumb:hover {
    background: #9e2632; 
}

::-webkit-scrollbar-track {
    background: #191c29; 
}

::-webkit-scrollbar {
    width: 1rem;   
}

::-webkit-scrollbar-thumb {
    background-color: #e04958; 
    border-radius: 1rem;   
}

@media (max-width: 768px) {
    .sectionTitle{ /*classe para adicionar estilo a todos os titulos das sections*/
        font-size: 3.5rem;
        margin-bottom: 2em;
    }
}
@media (max-width: 585px){
    .sectionTitle{ /*classe para adicionar estilo a todos os titulos das sections*/
        font-size: 3.5rem;
        margin-bottom: 1.7em;
    }
}