.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #191c29;
    width: 85%;
    padding: 2rem; 
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.8);
    z-index: 3;
    transition: opacity 0.5s ease-in-out;
    border-radius: 1rem;
}

/* estilização do overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0.6rem); /* Aplica o desfoque no conteúdo atrás do overlay */
    z-index: 2;
}


.modal.show, /*usado para fazer ele aparecer usando javascritp*/
.overlay.show {
    display: block;
}

.modalContent {
    display: flex;
    gap: 2rem
}

.modalImageContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.modalImage{
    width: 100%;
}

.btnContainer{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}


.btnContainer a{
    font-family: "Noto Sans", sans-serif;
    font-size: 1.7rem;
    padding:  0.5rem 2rem;
    background-color: #e04958;
    border-radius: 1rem;
}

.btnContainer a:hover{
    background-color: #c52a39;
}

.modalDetailsContainer{
    width: 50%;
}

.detailsHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modalTitle{
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
}

.closeButton{
    border: none;
    font-size: 3rem;
    font-weight: bold;
    color: #e04958;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.modalDescription{
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.modalIcons{
    display: flex;
    margin-top: 1rem;
    gap: 1rem
}

.modalIcons i{
    font-size: 3rem;
}

@media (max-width: 992px) {
    .modal {
        max-height: 95%;
    }

    .modalContent {
        display: flex;
        flex-direction: column;
        gap: 2rem
    }

    .modalImageContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
        width: 100%;
        max-height: 50%;
    }

    .modalImage {
        width: 100%;
    }

    .btnContainer{
        width: 100%;
        justify-content: space-around;
    }
    
    .modalDetailsContainer{
        width: 100%;
        max-height: 50%;
    }

    .modalTitle{
        font-size: 2.8rem;
    }

    .modalDescription{
        font-size: 1.7rem;
    }
}

@media(max-width: 576px){
    .modalTitle{
        font-size: 2.5rem;
    }

    .modalDescription{
        font-size: 1.6rem;
    }

    .btnContainer a{
        font-size: 1.5rem;
    }
}

@media (max-width: 480px){
    .modalTitle{
        font-size: 2.4rem;
    }

    .modalDescription{
        font-size: 1.5rem;
    }

    .btnContainer a{
        font-size: 1.2rem;
    }
}