@media (max-width: 1400px) {
    .about .aboutContainer .textContainer{
        max-width: 50%;
    }
}

@media (max-width: 1090px) {
	.header{                                          
        justify-content: space-between;
        padding: 0 3rem;
    }
    
    .header .navMenu label{
        
        z-index: 1;
    }

    .header .navMenu label .menuMobile{ /* container do icone do menu hamburguer (mobile) */
        display: block;
        z-index: 1;
    }
    
    .header .navMenu .menuList{ /* aba do menu hamburguer */
        flex-direction: column;
        width: 30rem; 
        height: 99rem;
        position: fixed;
        top: 0;
        right: -31rem;
        transition: right 0.5s ease-in-out;
        background-color: #11141b;
        overflow-x: hidden;
        margin: 0;
        border-left: 0.1rem solid #c52a39;
        padding-top: 9rem;
    }

    .header .navMenu .menuList .menuOption{
        display: block;
        font-size: 3em;
        width: 100%;
        padding: 1.5rem 2rem;
        margin-top: 1.3rem;
        overflow-x: hidden;
    }

    .header .navMenu .menuList .menuOption:hover{
        background-color: #1e222c;
        color: #e04958; 
        transition: 0.5s;
    }

    .header .navMenu .darkModeBtn{
        overflow-x: hidden;
        position: absolute;
        right: -9.5rem;
        transition: right 0.5s ease-in-out;
    }

    .header .navMenu input:checked ~ .menuList{ /*estado do da aba do menu quando o input for marcado*/ 
        right: 0;
    }

    .header .navMenu input:checked ~ .darkModeBtn,
    .header .navMenu input:checked ~ .darkModeBtn.lightMode{ /*estado do botão darkmode quando o input(menu mobile) for marcado*/ 
        z-index: 1;
        right: 22rem;
    }

    .header .navMenu input:checked ~ label .menuIcon{ /*altera o menu hamburguer para um 'X' quando o menu é clicado/aberto */
        background-color: #e04958;
        transform: rotate(45deg);
    }
    
    .header .navMenu input:checked ~label .menuIcon:before{ /*altera o menu hamburguer para um 'X' quando o menu é clicado/aberto */
        background-color: #e04958;
        transform: rotate(90deg);
        top: 0;
    }
    
    .header .navMenu input:checked ~label .menuIcon:after{ /*altera o menu hamburguer para um 'X' quando o menu é clicado/aberto */
        background-color: #e04958;
        transform: rotate(90deg);
        bottom: 0;
    }

    .header .navMenu .menuList .menuOption[href="#sobre"]::before{
        font-family: 'Font Awesome 5 Free'; 
        content: '\f2bb'; 
        font-weight: 900;
        margin-right: 3rem;
    }

    .header .navMenu .menuList .menuOption[href="#tecnologia"]::before{
        font-family: 'Font Awesome 5 Free'; 
        content: '\f085'; 
        font-weight: 900;
        margin-right: 2.7rem;  
    }

    .header .navMenu .menuList .menuOption[href="#projetos"]::before{
        font-family: 'Font Awesome 5 Free'; 
        content: '\f0eb'; 
        font-weight: 900;
        margin: 0 4rem 0 0.6rem; 
    }

    .header .navMenu .menuList .menuOption[href="#contato"]::before{
        font-family: 'Font Awesome 5 Free'; 
        content: '\f095'; 
        font-weight: 900;
        margin: 0 3.6rem 0 0.2rem;
    }
    
    .banner .textBox .bannerTitle{
        font-size: 8rem;
    }
    
    .banner .textBox .bannerSubtitle{
        font-size: 3.5rem;
    }

    .banner .bannerContact{
        margin-top: 1.8rem;
    }

    .about{
        height: 110rem;
    }

    .about .aboutContainer{
        padding: 0 5rem;
        flex-direction: column;
        justify-content: space-between;
        
    }

    .about .aboutContainer .textContainer{
        max-width: 95%;
    }

    .about .aboutContainer .photo img{
        width: 30rem;
    }

    .about .aboutContainer .textContainer .socialContainer{
        justify-content: center;
    }

    .technologies .technologyContainer .technologySingle:hover{
        transform: scale(1);
    }

    .footer .arrowUp{
        display: none;
    }

    .modal {
        max-height: 95%;
    }

    .modalContent {
        display: flex;
        flex-direction: column;
        gap: 2rem
    }

    .modal .modalContent .modalImageContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
        width: 100%;
        max-height: 50%;
    }

    .modal .modalContent .modalImageContainer .modalImage {
        width: 93%;
    }

    .modal .modalContent .modalImageContainer .btnContainer{
        width: 100%;
        justify-content: space-around;
    }
    
    .modal .modalContent .modalDetailsContainer{
        width: 100%;
        max-height: 50%;
    }

    .modal .modalContent .modalDetailsContainer .detailsHeader .modalTitle{
        font-size: 2.8rem;
    }

    .modal .modalContent .modalDetailsContainer .modalDescription{
        font-size: 1.7rem;
    }
}

@media (max-width: 920px) {

    .banner .textBox .bannerTitle{
        font-size: 7.5rem;
    }
    
    .banner .textBox .bannerSubtitle{
        font-size: 3rem;
    }

    .banner .bannerContact{
        font-size: 1.5rem;
    }

    .technologies .technologyContainer .technologySingle .technologyName{
        font-size: 1.7rem;
    }
    
    .technologies .technologyContainer .technologySingle .technologyImage{
        width: 7rem;
    }

    .projects .projectsContainer .projectCard{
        opacity: 1;
    }

    .projects .projectsContainer .projectCard:hover{
        transform: scale(1);
    }
    
    .projects .projectsContainer .projectCard:hover .projectName, .projectCard:hover .projectIcons{
        visibility: visible;
    }

    .projects .projectsContainer .projectCard .projectDetails{
        visibility: visible;
    }
    
    .contact .contactMessage{
        font-size: 1.8rem;
    }

    .contact .social .line {
        display: none;
    }

    .contact .social .socialSingle .contactOption{
        font-size: 1.7rem;
    }
    
    .contact .social .socialSingle .contactDescription{
        font-size: 1.5rem;
    }

}

@media (max-width: 797px) {
    .banner .textBox .bannerTitle{
        font-size: 6rem;
    }
    
    .banner .textBox .bannerSubtitle{
        font-size: 3rem;
    }

    .sectionTitle{ /*classe para adicionar estilo a todos os titulos das sections*/
        font-size: 3.5rem;
        margin-bottom: 2em;
    }

    .about .aboutContainer{
        padding: 0 3rem;
        gap: 5rem;
    }

    .about .aboutContainer .photo img{
        width: 25rem;
    }

    .technologies .technologyContainer{
        width: 80%;
    }

    .contact .social {
        gap: 3rem;
    }
}

@media (max-width: 737px){
    .banner .arrow img{
        width: 5.5rem;
        transition: 0.2s ease-in-out;
    }

    .contact{
        padding: 0 2rem;
    }

    .contact .social .socialSingle .contactOption{
        font-size: 1.6rem;
    }
    
    .contact .social .socialSingle .contactDescription{
        font-size: 1.4rem;
    }

    .contact .contactMessage{
        font-size: 1.6rem;
    }
    
    .contact .social {
        gap: 2rem;
    }
}

@media (max-width: 649px){
    .header .navMenu .menuList{ /* aba do menu hamburguer */
        width: 25rem; 
    }

    .header .navMenu  input:checked ~ .darkModeBtn,
    .header .navMenu  input:checked ~ .darkModeBtn.lightMode{ /*estado do botão darkmode quando o input(menu mobile) for marcado*/ 
        right: 18rem;
    }
    
    .header .navMenu .menuList .menuOption{
        font-size: 2.6em;
    }
    .about .aboutContainer .photo img{
        width: 20rem;
    }

    .about .aboutContainer .textContainer .text{
        font-size: 1.7rem;
    }

    .projects .projectsContainer .projectCard .projectDetails p{
        display: none;
    }

    .contact{
        text-align: center;
        height: 80rem;
        margin-top: 5rem;
    }

    .contact .social {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .footer .footerMessage{
        font-size: 1.5rem;
    }
    
}

@media (max-width: 585px){
    .header{
        height: 8rem;
    }

    .header .logo{
        font-size: 3rem;
    }
    
    .sectionTitle{ /*classe para adicionar estilo a todos os titulos das sections*/
        font-size: 3.5rem;
        margin-bottom: 1.7em;
    }

    .about .aboutContainer{
        padding: 0 3rem;
        gap: 2rem;
    }

    .banner .textBox .bannerTitle{
        font-size: 4.5rem;
    }
    
    .banner .textBox .bannerSubtitle{
        font-size: 2.5rem;
    }

    .banner .textBox{ 
        min-height: 17rem;
    }

    .projects .projectsContainer .projectCard .projectName{
        font-size: 2.6rem;
        text-align: center;
    }

    .modal .modalContent .modalImageContainer .modalImage {
        width: 95%;
    }

    .modal .modalContent .modalDetailsContainer .detailsHeader .modalTitle{
        font-size: 2.6rem;
    }

    .modal .modalContent .modalDetailsContainer .modalDescription{
        font-size: 1.6rem;
    }

    .modal .modalContent .modalImageContainer .btnContainer a{
        font-size: 1.5rem;
    }


}

@media (max-width: 456px){
    .header .navMenu .menuList{ /* aba do menu hamburguer */
        width: 22rem; 
    }

    .header .navMenu input:checked ~ .darkModeBtn,
    .header .navMenu input:checked ~ .darkModeBtn.lightMode{ /*estado do botão darkmode quando o input(menu mobile) for marcado*/ 
        right: 15rem;
    }

    .header .navMenu .menuList .menuOption{
        font-size: 2.4em;
    }

    .banner{
        height: 73rem;
    }

    .banner .textBox .bannerTitle{
        font-size: 3rem;
    }
    
    .banner .textBox .bannerSubtitle{
        font-size: 2rem;
    }
    
    .banner .textBox{
        min-height: 12rem;
    }
    
    .banner .bannerContact{
        font-size: 1.3rem;
    }

    .about{
        margin-top: 3rem;
    }

    .about .aboutContainer .textContainer .socialContainer .iconLink i{
        font-size: 3rem;
    }

    .about .aboutContainer .socialContainer .curriculoBtn .btnLink{
        font-size: 1.4rem;
    }

    .contact{
        margin-top: 8rem;
    }

    .modal .modalContent .modalDetailsContainer .detailsHeader .modalTitle{
        font-size: 2.4rem;
    }

    .modal .modalContent .modalDetailsContainer .modalDescription{
        font-size: 1.5rem;
    }

    .modal .modalContent .modalImageContainer .btnContainer a{
        font-size: 1.2rem;
    }
}

@media (max-width: 390px){
    .header .navMenu .menuList{ /* aba do menu hamburguer */
        width: 19rem; 
    }

    .header .navMenu input:checked ~ .darkModeBtn,
    .header .navMenu input:checked ~ .darkModeBtn.lightMode{ /*estado do botão darkmode quando o input(menu mobile) for marcado*/ 
        right: 12rem;
    }

    .header .navMenu .menuList .menuOption{
        font-size: 1.8em;
    }
    
    .banner .bannerContact{
        font-size: 1.2rem;
    }

}

@media (max-width: 375px){
    .banner .bannerContact{
        font-size: 1.1rem;
    }
}

@media (max-width: 360px){
    .banner .bannerContact{
        font-size: 1.1rem;
        text-align: center;
    }

}