html,body{
    height: 100%;  
    scroll-behavior: smooth; /*faz a rolagem da página ser mais suave*/
    overflow-x: hidden;
}

body{
    background: linear-gradient(178deg, #191c29,#0e1015);
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*----------------------lighMode e DarkMode----------------------*/
/*classe que são adicionadas com javascript*/
body.bodyLightMode{
    background: linear-gradient(178deg, #ffffff, #cccccc);
    color: black;
}


.header .navMenu .darkModeBtn.lightMode{
    justify-content: end;
    background-color: black;
}

.header .navMenu .darkModeBtn .dark.light{
    background-color: white;
}

.iconLink i.ColorLightMode{
    color: black;
}

.footer.footerLightMode{
    background-color: #191c29;
}

.footer .arrowUp.arrowLightMode{
    background-color: white;
}

.modal.modalLightMode{
    background: linear-gradient(178deg, #ffffff, #cccccc);
}
/*-----------------------------------------------------------------*/

/*para adicionar a transição aos conteudos da pagina*/
.content, .contentProjects{
    opacity: 0;
    transform: translateX(20%);
    transition: opacity 0.8s ease-in, transform 1.5s ease;
}

.content.visible, .contentProjects.visible {
    opacity: 1;
    transform: translateX(0);
}

/*classe para adicionar estilo a todos os titulos das sections (main e sections)*/
.sectionTitle{ 
    font-family: "Raleway", sans-serif;
    font-size: 4.5rem;
    margin-bottom: 2.5em;
    text-align: center;
}

/*header*/
.header{
    font-family: "Roboto Condensed", sans-serif;
    width: 100%;
    height: 10rem;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;                                           
    justify-content: space-around;
    background-color: #191c29;
    border-bottom: 0.1rem solid ;
    border-image: linear-gradient(to right, #e04958, #a8323e, #7a252d) 1; 
    box-shadow: 0 0.7rem 0.6rem rgba(0, 0, 0, 0.2), 0 0.6rem 2rem rgba(0, 0, 0, 0.3);
}

.header .logo{
    font-size: 4rem;
    color: #e04958;
    transition: 0.2s;
}

.header .navMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --------------menu hamburguer (mobile) v */

.header .navMenu input{ /*input que faz o menu aparecer e sumir no responsive*/
    display: none;
}

.header .navMenu label .menuMobile{ /* container do icone do menu hamburguer (mobile) */
    display: none;
    cursor: pointer;
    width: 6rem;
    height: 6rem;
}

.header .navMenu label .menuMobile .menuIcon{ /*representa o traço do meio do menu hamburguer (mobile) */
    background-color: white;
    position: relative;
    display: block;
    width: 3rem;
    height: 0.2rem;
    top: 2.9rem;
    left: 1.5rem;
    transition: 0.5s ease-in-out;
}

.header .navMenu label .menuMobile .menuIcon:before, 
.header .navMenu label .menuMobile .menuIcon:after{ /*representa o traço de cima e de baixo do menu hamburguer (mobile) */
    background-color: white;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
}

.header .navMenu label .menuMobile .menuIcon:before{ /*representa o traço de cima do menu hamburguer (mobile) */
    top: -1rem;
}

.header .navMenu label .menuMobile .menuIcon:after{ /*representa o traço de baixo do menu hamburguer (mobile) */
    bottom: -1rem;
}
/* ----------------------- ^ */

.header .navMenu .menuList{
    display: flex;
    list-style: none;
    margin-right: 3rem;
}

.header .navMenu .menuList .menuOption{
    font-size: 2.3rem;
    margin-right: 2rem;
}

.header .navMenu .menuList .menuOption:hover{
    color: #e04958; 
    transition: 0.5s;
}

.header .navMenu .darkModeBtn{
    display: flex;
    align-items: end;
    justify-content: start;
    width: 5.5rem;
    height: 2.3rem;
    border-radius: 2rem;
    padding: 0.1rem;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.5s ease;
}

.header .navMenu .darkModeBtn .dark{
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: black;
    border-radius: 50%;
    transition: background-color 0.5s ease;
}


/*bannner*/
.banner{
    font-family: "Open Sans", sans-serif;
    height: 95rem;
    padding: 0 2rem;
    position: relative; /* para posicionar a seta */ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner .textBox{ /* foi usado essa div para que os elementos tenham a posição definida enquanto ocorre a animação, sem que os elementos abaixo tenham suas pocições alteradas no processo*/
    min-height: 21rem;
    text-align: center;
}

.banner .textBox .bannerTitle{
    font-size: 10rem;
}

.banner .textBox .bannerSubtitle{
    font-size: 5rem;
}

.banner .textBox .bannerSubtitle.hidden{
    opacity: 0;
}

.banner .bannerSubtitle span{
    color: #e04958;
}

.banner .bannerContact{
    font-size: 1.7rem;
    margin-top: 2rem;
}

.banner .arrow{
    position: absolute;
    bottom: 5rem;
    animation: pulse 1s infinite;
}

.banner .arrow img{
    width: 7rem;
    transition: 0.2s ease-in-out;
}

.banner .arrow img:hover{
    transform: scale(1.3);
}

@keyframes pulse { /*animação para a seta*/
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
 
/* seção sobre*/
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95rem;
}

.about .aboutContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.about .aboutContainer .photo img{
    width: 35rem;
    border-radius: 50%;
}

.about .aboutContainer .textContainer{
    max-width: 40%;
}

.about .aboutContainer .textContainer .text{
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.about .aboutContainer .textContainer .socialContainer{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
}

.about .aboutContainer .textContainer .socialContainer .iconLink i{
    font-size: 3.5rem;
}

.about .aboutContainer .textContainer .socialContainer .iconLink i:hover{
    transition: 0.3s ease-out;
    color: #e04958;
}

.about .aboutContainer .textContainer .socialContainer .curriculoBtn{
    font-family: "Noto Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.5rem 1.7rem;
    border-radius: 1rem;
    background-color: #dd3445;
}

.about .aboutContainer .socialContainer .curriculoBtn:hover{
    transition: 0.3s ease-out;
    background-color: #a51927;
}

.about .aboutContainer .socialContainer .curriculoBtn .btnLink{
    font-size: 1.6rem;
    font-weight: 700;
    color: black;
}

.about .aboutContainer .socialContainer .curriculoBtn .btnLink i{
    font-size: 2rem;
    color: black;
}

/* seção tecnologia */
.technologies{
    height: 95rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.technologies .technologyContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    gap: 5rem;
}

.technologies .technologyContainer .technologySingle{
    text-align: center;
    height: 14rem;
    transition: transform 0.5s ease;
}

.technologies .technologyContainer .technologySingle:hover{
    transition: 0.5s;
    transform: scale(1.5);
}

.technologies .technologyContainer .technologySingle .technologyName{
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.technologies .technologyContainer .technologySingle .technologyImage{
    width: 10rem;
}


/* seção projetos */

.projects .projectsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    flex-wrap: wrap;
    width: 100%;
    gap: 7rem;
}

.projects .projectsContainer .projectCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* para poder posicionar o o projectdetails do card na parte de baixo*/
    background-color: white;
    border-bottom: 0.5rem solid ;
    border-image: linear-gradient(to right, #e04958, #c52a39, #cc1628) 1; 
    background-repeat: no-repeat;
    background-size: cover;
    width: 50rem;
    height: 30rem;
    gap: 2rem;
    transition: transform 0.5s ease;
    cursor: pointer;
    opacity: 0.9;
    box-shadow: -3px 40px 30px -22px rgba(0,0,0,0.78);
    border-radius: 1rem;
}

.projects .projectsContainer .projectCard:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
    opacity: 1;
    outline: 0.4rem solid white; /* Define a borda externa */
    outline-offset: 0.2rem; 
}

.projects .projectsContainer .projectCard:hover .projectName, .projectCard:hover .projectIcons{
    visibility: hidden;
}

.projects .projectsContainer .projectCard:hover .projectDetails{
    visibility: visible;
}

.projects .projectsContainer .projectCard .projectName{
    font-family: "Open Sans", sans-serif;
    color: #c52a39;
    font-size: 3rem;
}

.projects .projectsContainer .projectCard .projectIcons{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1rem;
}

.projects .projectsContainer .projectCard .projectIcons i{
    font-size: 3rem;
    color: #c52a39;
}

.projects .projectsContainer .projectCard .projectDetails{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute; 
    bottom: 0rem;
    padding: 1rem 0;
    border-top: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    visibility: hidden;
}

.projects .projectsContainer .projectCard .projectDetails p{
    font-family: "Noto Sans", sans-serif;
    color: black;
    font-size: 1.7rem;
    font-weight: 600;
}

.projects .projectsContainer .projectCard .projectDetails .btnModalOpen{
    cursor: pointer;
    color: black;
    background-color: white;
    border: none;
    padding: 0.6rem 1.3rem;
    border-radius: 2rem;
}

.projects .projectsContainer .projectCard .projectDetails .btnModalOpen:hover{
    color: white;
    background-color: #e04958;
    transition: 0.5s;
    transform: scale(1.2);
}

/*seção de contatos*/
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80rem;
    padding: 0 3rem;
}

.contact .sectionTitle{
    margin-bottom: 1em;
}

.contact .contactMessage{
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.contact .social {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.contact .social .socialSingle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.contact .social .line {
    width: 0.3rem;
    background-color: #e04958;
    height: 15rem;
}

.contact .social .socialSingle .icon{
    width: 1.7em;
    height: 5rem;
    border: 0.2rem solid black;
    font-size: 3rem;
    color: black;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .social .socialSingle .icon:hover{
    transition: 0.3s ease-out;
    background-color: #e04958;
}

.contact .social .socialSingle:last-child .icon:hover { /*para remover o hover do icon do e-mail*/
    background-color: white;
    transition: none; 
}

.contact .social .socialSingle .contactOption{
    font-family: "Noto Sans", sans-serif;
    font-size: 2rem;
}

.contact .social .socialSingle .contactDescription{
    font-family: "Noto Sans", sans-serif;
    font-size: 1.6rem;
}

.footer{
    border-top: 0.1rem solid ;
    border-image: linear-gradient(to right, #e04958, #a8323e, #7a252d) 1; 
    height: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
}

.footer .footerMessage{
    font-family: "Raleway", sans-serif;
    font-size: 1.8rem;
}

.footer .arrowUp{
    position: absolute;
    right: 20rem;
    bottom: 7rem;
    background-color: #0e1015;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pulse 1s infinite;
    border: 0.1rem solid #e04958;
}


.footer .arrowUp img{
    width: 5rem;
    transform: rotateX(180deg);
}

.footer .arrowUp:hover{
    background-color: white;
}

/* estilização do modal e overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0.6rem); /* Aplica o desfoque no conteúdo atrás do overlay */
    z-index: 2;
  }

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #191c29;
    width: 85%;
    padding: 2rem; 
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.8);
    z-index: 3;
    transition: opacity 0.5s ease-in-out;
    border-radius: 1rem;
}

.modal.show, /*usado para fazer ele aparecer usando javascritp*/
.overlay.show {
    display: block;
}

.modalContent {
    display: flex;
    gap: 2rem
}

.modal .modalContent .modalImageContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.modal .modalContent .modalImageContainer .modalImage{
    width: 100%;
}

.modal .modalContent .modalImageContainer .btnContainer{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}


.modal .modalContent .modalImageContainer .btnContainer a{
    font-family: "Noto Sans", sans-serif;
    font-size: 1.7rem;
    padding:  0.5rem 2rem;
    background-color: #e04958;
    border-radius: 1rem;
}

.modal .modalContent .modalImageContainer .btnContainer a:hover{
    background-color: #c52a39;
}

.modal .modalContent .modalDetailsContainer{
    width: 50%;
}

.modal .modalContent .modalDetailsContainer .detailsHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.modal .modalContent .modalDetailsContainer .detailsHeader .modalTitle{
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
}

.modal .modalContent .modalDetailsContainer .detailsHeader .closeButton{
    border: none;
    font-size: 5rem;
    color: #e04958;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.modal .modalContent .modalDetailsContainer .modalDescription{
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.modal .modalContent .modalDetailsContainer .modalIcons{
    display: flex;
    margin-top: 1rem;
    gap: 1rem
}

.modal .modalContent .modalDetailsContainer .modalIcons i{
    font-size: 2rem;
}

 /*estilizando a scrollbar*/
 ::-webkit-scrollbar-thumb:hover {
    background: #9e2632; /* Cor do thumb ao passar o mouse */
}

::-webkit-scrollbar-track {
    background: #191c29; /* Cor de fundo do track do scrollbar */
}

::-webkit-scrollbar {
    width: 1rem; /* Largura do scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #e04958; /* Cor do thumb (parte que se move) */
    border-radius: 1rem; /* Bordas arredondadas */
}