.technologies{
    height: 95rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.technologyContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    gap: 5rem;
}

.technologySingle{
    text-align: center;
    height: 14rem;
    transition: transform 0.5s ease;
}

.technologySingle:hover{
    transition: 0.5s;
    transform: scale(1.5);
}

.technologyName{
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.technologyImage{
    width: 10rem;
}

@media(max-width: 992px){
    .technologyContainer{
        width: 80%;
    }
    
    .technologySingle:hover{
        transform: scale(1);
    }

    .technologyName{
        font-size: 1.7rem;
    }
    
    .technologyImage{
        width: 7rem;
    }
}

@media(max-width: 576px){
    .technologyImage{
        width: 5rem;
    }
}
